// src/styles/abstracts/_variables.scss

// Colores
$color-primary: #D84A4A; /* Correspondiente a unnamed-color-d84a4a */
$color-secondary: #425966; /* Correspondiente a unnamed-color-425966 */
$color-background: #FFFFFF;
$color-shadow: #8395A7;
