// Variables de colores
$primary-color: #ff5722;
$secondary-color: #4caf50;

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
